<!DOCTYPE html>
<html>

<head>
<% include ../include/common/head %>
    <!--css-->
    <link rel="stylesheet" href="../css/common.css">
    <!--/css-->
</head>

<body>
<% include ../include/common/header %>
<% nav = '' %><% include ../include/common/nav %>

    <h1><%= data.default.site_title %></h1>

    <p>トップリード文トップリード文トップリード文トップリード文トップリード文トップリード文トップリード文トップリード文トップリード文トップリード文トップリード文トップリード文トップリード文トップリード文トップリード文トップリード文トップリード文トップリード文トップリード文トップリード文トップリード文トップリード文トップリード文トップリード文トップリード文トップリード文トップリード文トップリード文トップリード文トップリード文</p>

<% include ../include/module/sample %>    

<% include ../include/common/footer %>

    <!--js-->
    <script src="../js/lib.js"></script>
    <script src="../js/common.js"></script>
    <!--/js-->
</body>

</html>