/*
---
name: button
category: block/button
---

```html
<!-- button -->
<a href="#" class="button">
  <p class="button__text">
    <span class="ic-b ic-b--location">button</span>
  </p>
</a>
<!-- /button -->
```
*/

@charset "utf-8";

.button {
  display: block;
  margin: 0 auto;
  width: 288px;
  height: 48px;
  line-height: 48px;
  border-radius: 24px;
  background-color: #FF4081;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
  text-align: center;
  &__text {
    display: inline-block;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
  }
}