/*
---
name: headline
category: block/headline
---

```html
<!-- headline -->
<div class="headline">
  <h2 class="headline__main">main</h2>
  <p class="headline__sub">sub</p>
</div>
<!-- /headline -->
```
*/

@charset "utf-8";

.headline {
  text-align: center;
  padding: 49px 16px 14px;
  &__main {
    font-size: 19px;
    font-weight: bold;
    color: #454340;
  }
  &__sub {
    font-size: 11px;
    color: #707070;
    margin-top: 5px;
  }
}

