/*
---
name: ic
category: block/ic
---

```html
<p class="ic-b ic-b--location">location</p>
<p class="ic-b ic-b--eki">eki</p>
<p class="ic-b ic-b--area">area</p>
<p class="ic-b ic-b--spot">spot</p>
```
*/

@charset "utf-8";

/* before要素でアイコンを表示 */
.ic-b {
  position: relative;
  &::before {
    display: inline-block;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
  &--location {
    padding-left: calc(23px + 12px); /* アイコンの幅 + マージン */
    &::before {
      @mixin sprite $location;
    }
  }
  &--eki {
    padding-left: calc(12px + 10px);
    &:before {
      @mixin sprite $eki;
    }
  }
  &--area {
    padding-left: calc(11px + 10px);
    &:before {
      @mixin sprite $area;
    }
  }
  &--spot {
    padding-left: calc(14px + 10px);
    &:before {
      @mixin sprite $spot;
    }
  }
}

/* 要素自体でアイコンを表示 */
.ic {
  display: block;
  /*&--imadake {
    @mixin sprite $imadake;
    margin-right: 16px;
  }*/
}