/*
---
name: list
category: block/list
---

```html
<!-- list -->
<ul class="list">
  <li class="list__item">
    <a href="#" class="list__inner">
      <section>
        <h3>hoge hige huge</h3>
      </section>
    </a>
  </li>
</ul>
<!-- /list -->
```

```html
<!-- list -->
<ul class="list">
  <li>
    <section class="list__inner list__inner--header list__inner--close js-listHeader">
      <h3 class="ic-b ic-b--eki">station</h3>
    </section>
    <!-- list -->
    <ul class="list js-listGroup is-hidden">
      <li class="list__item">
        <a href="#" class="list__inner">
          <p>hoge</p>
        </a>
      </li>
      <li class="list__item">
        <a href="#" class="list__inner">
          <p>hoge</p>
        </a>
      </li>
      <li class="list__item">
        <a href="#" class="list__inner">
          <p>hoge</p>
        </a>
      </li>
    </ul>
    <!-- /list -->
  </li>
</ul>
<!-- /list -->
```
*/

@charset "utf-8";

.list {
  background-color: #fff;
  &__item {
    border-bottom: solid 1px #eee;
    &:last-child {
      border-bottom: none;
    }
  }
  &__inner {
    position: relative;
    display: block;
    padding: 15px 32px 15px 16px;
    &::after {
      display: block;
      content: "";
      width: 5px;
      height: 5px;
      border-top: solid 2px #959595;
      border-right: solid 2px #959595;
      transform: rotate(45deg);
      position: absolute;
      right: 16px;
      top: 0;
      bottom: 0;
      margin: auto;
    }
    &--header {
      background-color: #B2EBF2;
      border-top: solid 1px #eee;
      color: #727272;
    }
    &--close {
      &::after {
        transform: rotate(135deg);
      }
    }
    &--open {
      &::after {
        transform: rotate(-45deg);
      }
    }
  }
}