/*
---
name: searchLink
category: block/searchLink
---

```html
<!-- searchLink -->
<a href="#" class="searchLink">
  <h2 class="searchLink__main">main</h2>
  <p class="searchLink__sub">sub</p>
</a>
<!-- /searchLink -->
```
*/

@charset "utf-8";

.searchLink {
  display: block;
  background-color: #fff;
  padding: 20px 16px 16px;
  text-align: center;
  &__main {
    font-size: 19px;
    font-weight: bold;
  }
  &__sub {
    font-size: 13px;
  }
}